<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
<title>{{ title }}</title>
</head>
<body>
  <ul class="mainmenu">
    {% for m in menu %}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
    {% endfor %}
  </ul>
  <h1>{{ title }}</h1>
  {% for msg in get_flashed_messages() %}
  <div class="flash">{{msg}}</div>
  {% endfor %}
  <p>Введите ID_Накладной информацию о которй хотите обновить, а также заполните поля, которые необходимо обновить.
  <form action="/put_bill" method="post" class="form-contact">
  <p><label>ID_Накладной:</label> <input type="text" name="number" value="" requied />
  <p><label>Склад: </label> <input type="text" name="sklad" value="" requied />
  <p><label>ID комплектующей: </label> <input type="text" name="detail" value="" requied />
  <p><label>Дата получения: </label> <input type="text" name="date_poluch" value="" requied />
  <p><label>Цена детали на дату получения: </label> <input type="text" name="price" value="" requied />
  <p><label>Ремонтник: </label> <input type="text" name="remontnik" value="" requied />
  <p><input type="submit" value="Отправить" />
  </form>
  <div class="clear"></div>
  <div class="content"></div>

</body>
</html>
