<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
<title>{{ title }}</title>
</head>
<body>
  <ul class="mainmenu">
    {% for m in menu %}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
    {% endfor %}
  </ul>
  <h1>{{ title }}</h1>
  {% for msg in get_flashed_messages() %}
  <div class="flash">{{msg}}</div>
  {% endfor %}
  <form action="/post_user" method="post" class="form-contact">
  <p><label>Введите ID_Пользователя:</label> <input type="text" name="number" value="" requied />
  <p><label>Введите Имя: </label> <input type="text" name="firstname" value="" requied />
  <p><label>Введите Фамилию: </label> <input type="text" name="lastname" value="" requied />
  <p><label>Введите Отчество: </label> <input type="text" name="midname" value="" requied />
  <p><label>Введите Дату рождения: </label> <input type="text" name="birthday" value="" requied />
  <p><input type="submit" value="Отправить" />
  </form>
  <div class="clear"></div>
  <div class="content"></div>

</body>
</html>
